graph-walker @ git+https://github.com/AlvaroJoseLopes/graph-walker
gensim
joblib
networkx
numpy
pandas
python-dateutil
pytz
PyYAML
scikit-learn
scipy
six
smart-open
threadpoolctl
tqdm
tzdata
torch==2.1.2
pykeen