gensim
joblib
networkx
numpy<2
pandas
python-dateutil
pytz
PyYAML
scikit-learn
scipy
six
smart-open
threadpoolctl
tqdm
tzdata
pykeen
torch==2.2
py-cpuinfo
gputil
psutil
sentence-transformers
SPARQLWrapper
multiprocess
tensorflow-macos
tensorflow-metal