gensim
joblib
networkx
numpy
pandas
python-dateutil
pytz
PyYAML
scikit-learn
scipy
six
smart-open
threadpoolctl
tqdm
tzdata
pykeen
torch==2.2
py-cpuinfo
gputil
psutil
sentence-transformers
graph-walker @ git+https://github.com/AlvaroJoseLopes/graph-walker
SPARQLWrapper
multiprocess
tensorflow
